@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Estonia&family=Quicksand:wght@400;500&family=Varela+Round&display=swap');

/* CSS Variables */

:root {
    --height_of_navbar: 10vh;
    --height_of_bottom_tray: 12vh;
    --height_of_middle_container: 78vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 241, 236);
}

/************ Header section starts here *********/

header {
    position: sticky;
    top: 0;
    height: var(--height_of_navbar);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background-color: #141414;
    color: aliceblue;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: aliceblue;
}

ul li {
    list-style-type: none;
    padding: 5px 10px;
}

li a {
    text-decoration: none;
    position: relative;
    text-decoration: none;
    padding: 4px 0;
    transition: all 0.3s;
    color: #EDEDED;
}

/* li a:hover {
    background-color: yellow;
    color: #95a5a6;
}  */

li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 95%;
    left: 0;
    background: red;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.brand-logo img {
    width: 2rem;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 3.5px;
    font-weight: 700;
    font-size: 1.1rem;
}

/************ Header section ends here *********/

/************ Song List Display section starts here *********/

.songListDisplaySection {
    height: var(--height_of_middle_container);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px black;
}

.songsDisplayArea {
    display: flex;
    height: 100%;
    border: 5px ridge black;
}

.songTileContainer {
    width: 60%;
    background-color: #0F172A;
    overflow: auto;
}

.songCoverContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0F172A;
}

.fvr8-songs-container {
    display: none;
}

.coverImage {
    height: 55%;
}

.top-covergif {
    height: 27%;
}

.bottom-covergif {
    height: 18%;
}

.cover-gifs img {
    height: 100%;
    opacity: 0;
    transition: opacity 0.35s ease-in;
}

#playingSongCover {
    position: relative;
    top: 5%;
    height: 80%;
    /* border: 1px solid white; */
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px black;
}

.songTiles {
    background-color: #0F172A;
    color: #D3D3D3;
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 0 12px;
    border-radius: 20px;
}

.songTiles:hover {
    background-color: #1b2b46;
    opacity: 0.95;
    color: white;
}

.songTiles img {
    height: 90%;
    margin: 0 0 0 3px;
    border-radius: 15%;
    border: 1px solid black;
}

.songTiles .songName {
    width: 40%;
}

.songTiles div {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.songTiles .songId {
    width: 3%;
    text-align: center;
}

.songTiles .mark-fvr8-buttons {
    padding-left: 10px;
}

#currSongBar {
    outline: none;
    border: none;
    opacity: 0.85;
    width: 75%;
}

/************ Song List Display section ends here *********/

/************ Song Progress Bar section starts here *********/

/* Icons */

.material-icons {
    cursor: pointer;
    /* padding: 0 3px; */
}

.bottom-tray-container {
    position: sticky;
    bottom: 0;
    height: var(--height_of_bottom_tray);
    background-color: #141814;
    color: #EDEDED;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Varela Round',
    sans-serif;
}

.currSongDetails {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.progressBar-and-Icons {
    width: 60vw;
}

.volume-and-otherTools {
    width: 20vw;
}

#currSongName {
    font-family: 'Varela Round', sans-serif;
    font-size: 80%;
    letter-spacing: 1px;
}

#currSongArtist {
    font-family: 'Dancing Script',
        cursive;
    font-size: 77.5%;
    letter-spacing: 1px;
}

#currSongTime, 
#currSongDuration {
    font-family: 'Quicksand',
    sans-serif;
    /* font-family: 'Varela Round',
    sans-serif; */
    font-size: 80%;
    font-weight: 500;
}

.volume-and-otherTools div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

#volumeBar {
    margin: 5px;
    cursor: pointer;
    width: 80%;
}

#volume-num {
    visibility: hidden;
    padding-left: 3px;
}

#songProgressBar {
    cursor: pointer;
    width: 60%;
}

/************ Song Progress Bar section ends here *********/

/************ Footer section starts here *********/

footer {
    position: sticky;
    bottom: 0;
    height: 10vh;
    background: #181818;
    color: #EDEDED;
    text-align: center;
    padding: 5px 0 2px;
}

/************ Footer section ends here *********/


/************ Media Queries **********/

@media only screen and (max-width: 900px) {
    .songTiles {
        width: 98%;
    }
}

@media only screen and (max-width: 768px) {
    .songTiles .mark-fvr8-buttons {
        padding-left: 0px;
    }
    
    .progressBar-and-Icons {
        width: 75vw;
    }

    .currSongDetails,
    .volume-and-otherTools {
        width: 17.5vw;
    }

    #volumeBar {
        padding: 0;
    }
}

@media only screen and (max-width: 575px) {
    .songTileContainer {
        width: 100%;
    }

    .progressBar-and-Icons {
        width: 100vw;
    }

    .songCoverContainer {
        width: 0%;
        display: none;
    }

    .currSongDetails,
    .volume-and-otherTools {
        width: 0vw;
        display: none;
        background-color: blue;
    }

}

/* testing loader */
/* 
header,
main {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

 
main, header {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
 */

/* input[type=range] {
    height: 15px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #2497E3;
    border-radius: 50px;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 25px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
    background-color: white;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497E3;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #2497E3;
    border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #2497E3;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border-radius: 100px;
}

input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border-radius: 100px;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 1px solid #2497E3;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
} */

#songProgressBar {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: grey;
    background-image: linear-gradient(rgba(255, 255, 200, 0.75), rgba(255, 255, 200, 0.75));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;
}

#volumeBar {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: 5px;
    background: grey;
    background-image: linear-gradient(rgba(250, 250, 200, 0.75), rgba(250, 250, 200, 0.75));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;
}


#songProgressBar:hover,
#volumeBar:hover {
    opacity: 1;
    background-image: linear-gradient(yellow, orange);
}

#songProgressBar::-webkit-slider-thumb,
#volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -3.5px;
}

#songProgressBar::-webkit-slider-runnable-track,
#volumeBar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 0px;
}
