@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Estonia&family=Quicksand:wght@400;500&family=Varela+Round&display=swap');

/* CSS Variables */

:root {
    --height_of_navbar: 10vh;
    --height_of_bottom_tray: 12vh;
    --height_of_middle_container: 78vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 241, 236);
}

/************ Header section starts here *********/

header {
    position: sticky;
    top: 0;
    height: var(--height_of_navbar);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background-color: #141414;
    color: aliceblue;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: aliceblue;
}

ul li {
    list-style-type: none;
    padding: 5px 10px;
}

li a {
    text-decoration: none;
    position: relative;
    text-decoration: none;
    padding: 4px 0;
    transition: all 0.3s;
    color: #EDEDED;
}

/* li a:hover {
    background-color: yellow;
    color: #95a5a6;
}  */

li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 95%;
    left: 0;
    background: red;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.brand-logo img {
    width: 2rem;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 3.5px;
    font-weight: 700;
    font-size: 1.1rem;
}

/************ Header section ends here *********/

/************ Song List Display section starts here *********/



.songListDisplaySection {
    height: var(--height_of_middle_container);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 100%;
    height: 100%;
    /* background-color: #0F172A; */
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px black;
}

.songsDisplayArea {
    /* background-color: blue; */
    display: flex;
    height: 100%;
    border: 5px ridge black;
}

.songTileContainer {
    width: 60%;
    background-color: #0F172A;
    overflow: auto;
}

.songCoverContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0F172A;
}

.fvr8-songs-container {
    display: none;
}

.coverImage {
    height: 55%;
}

.top-covergif {
    height: 27%;
}

.bottom-covergif {
    height: 18%;
}

.cover-gifs img {
    height: 100%;
    opacity: 0;
    transition: opacity 0.35s ease-in;
}

#playingSongCover {
    position: relative;
    top: 5%;
    height: 80%;
    /* border: 1px solid white; */
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px black;
}

.songTiles {
    background-color: #0F172A;
    color: #D3D3D3;
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 0 12px;
    border-radius: 20px;
}

.songTiles:hover {
    background-color: #1E293B;
    opacity: 0.9;
}

.songTiles img {
    height: 90%;
    margin: 0 0 0 3px;
    border-radius: 15%;
    border: 1px solid black;
}

.songTiles .songName {
    width: 40%;
}

.songTiles div {
    width: 20%;
}

.songTiles .songId {
    width: 2%;
}

/************ Song List Display section ends here *********/

/************ Song Progress Bar section starts here *********/

/* Icons */

.material-icons {
    cursor: pointer;
    /* padding: 0 3px; */
}

.bottom-tray-container {
    position: sticky;
    bottom: 0;
    height: var(--height_of_bottom_tray);
    background-color: #141814;
    color: #EDEDED;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Varela Round',
    sans-serif;
}

.currSongDetails {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.progressBar-and-Icons {
    width: 60vw;
}

.volume-and-otherTools {
    width: 20vw;
}

.volume-and-otherTools div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

#songProgressBar {
    cursor: pointer;
    width: 60%;
}

.slider {
    opacity: 0.75;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.slider:hover {
    opacity: 0.9;
}

/************ Song Progress Bar section ends here *********/

/************ Footer section starts here *********/

footer {
    position: sticky;
    bottom: 0;
    height: 10vh;
    background: #181818;
    color: #EDEDED;
    text-align: center;
    padding: 5px 0 2px;
}

/************ Footer section ends here *********/
